cf_email='naoir@gmx.net'
osvers='2.6.36'
gccversion='5.2.0'
myhostname='OpenWrt'
cf_time='Thu Jan 1 12:00:00 CEST 2015'

perladmin="$cf_email"
archname="$owrt:arch-linux-$owrt:libc"
targetarch="$archname"
myarchname="$archname"
myuname="Linux $myhostname $osvers #1 SMP $cf_time @{[$owrt:arch =~ s/(el|eb)$//r]} GNU/Linux"
